@model JsonParse.Models.PageDetail
@{
    ViewBag.Title = "Detay";
}

<h2>Detay</h2>

@Html.Raw(Model.data.newsDetail.bodyText)
@Model.data.newsDetail.shortText
<a href="@Model.data.newsDetail.fullPath">Haberin Tamamı İçin Tıklayın</a><br>

<img src="@Model.data.newsDetail.imageUrl" >

@foreach (var item in Model.data.itemList)
{

    <p>@item.title</p> <br />
    <a href="@item.imageUrl">Resim Detayı İçin Tıklayınız</a><br>
    <p>@item.shortText</p>


}

